#HomePageBlock{
    background-image: url("../assets/wp7245998.webp");
    /* background-image: url("../assets/DanceBackGround.avif"); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.list{
    display: flex;
    justify-content: flex-end;
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    font-weight: 400; 
}
.list li{ 
margin-right: 50px;
font-weight: bolder;
text-shadow: 10px 0px 20px rgb(255, 0, 0);
}
.list li:hover{
    text-decoration: 2px underline rgb(48, 48, 250);
}
.list li a{
  text-decoration: none;
  color: white;
}
.list{
    padding: 0px 100px;
    padding-top: 30px;
}