/* login page */

#blockOne{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#blockOneArticle{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    height: 50vh;
    width: 30vw;
    border-radius: 20px;
    /* background-color: red; */
    box-shadow: 4px 4px grey;
}
#blockOneForm h3{
    display: flex;
    justify-content: center;
    height: 5vh;
    width: 100%;
    padding: 10px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vh;
}
#blockOneForm div{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2vh;
    height: 3.5vh;
}
#blockOneForm div input{
   /* border: none; */
   border-radius: 5px;
   outline: none;
   width: 50%;
}
/* login page sign up button */
#blockOneButton{
    height: 4vh;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #eee;
    text-transform: uppercase;
    background-color: rgb(74, 74, 235);
}


/* block two register page */

#blockTwo{
    display: flex;
    justify-content: center;
}